@import url(../../utils/base.css);
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.ms_privateRouteVideoCard-listing-section {
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
}

.ms_privateRouteVideoCard-card {
    background-color: var(--gray-shade-two);
    height: 5.5rem;
    flex-grow: 1;
    min-width: 13rem;
    max-width: 24rem;
    position: relative;
}

.ms_privateRouteVideoCard-img-container {
    height: 100%;
}

.ms_privateRouteVideoCard-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ms_privateRouteVideoCard-info {
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.ms_privateRouteVideoCard-info>* {
    color: var(--gray-shade-three);
    font-size: 0.9rem;
}

.ms_no-liked-videos-text-container {
    height: 70vh;
    width: 100%;
}

.ms_no-liked-videos-text,
.ms_privateRouteVideoCard-info>* {
    font-family: 'Gruppo', cursive;
}

.ms_no-liked-videos-text {
    color: var(--action);
    font-size: 1.2rem;
}

.ms_privateRouteVideoCard-likes,
.ms_privateRouteVideoCard-music-duration,
.ms_privateRouteVideoCard-release-date {
    font-size: 0.8rem;
}

.ms_privateRouteVideoCard-icon-container {
    background: rgba(18, 18, 19, 0.5);
    padding: 0.5rem 0.6rem;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.ms_privateRouteVideoCard-icon-container:hover {
    background-color: var(--black);
}

.ms_privateRouteVideoCard-like-icon {
    color: var(--action);
    font-size: 0.9rem;
}

@media only screen and (max-width: 400px) {
    .ms_privateRouteVideoCard-card {
        height: 5rem;
    }

    .ms_no-liked-videos-text {
        font-size: 1rem;
    }

    .ms_privateRouteVideoCard-info>* {
        font-size: 0.8rem;
    }

    .ms_privateRouteVideoCard-likes,
    .ms_privateRouteVideoCard-music-duration,
    .ms_privateRouteVideoCard-release-date {
        font-size: 0.6rem;
    }
}