@import url(../../utils/base.css);
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.ms_chips-listing-section {
    border-bottom: 1px solid var(--gray-shade-two);
}

.ms_chips-container {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
}

.ms_chip {
    border: 1px solid var(--action);
    color: var(--action);
    font-family: 'Gruppo', cursive;
    padding: 0.3rem 0.6rem;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
}

@media only screen and (max-width: 750px) {
    .ms_chip {
        font-size: 0.9rem;
        padding: 0.2rem 0.5rem 0.3rem 0.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .ms_chips-container {
        padding-bottom: 0.3rem;
    }

    .ms_chip {
        font-size: 0.7rem;
        padding: 0.2rem 0.4rem;
        margin: 0.2rem;
    }
}