@import url("https://expeditech-ui.netlify.app/components/index.css");

:root {
    --gray-shade-one: rgb(14, 13, 13);
    --gray-shade-two: rgb(27, 27, 27);
    --gray-shade-three: rgb(126, 126, 126);
}

.ms_flex {
    display: flex;
}

.ms_flex-c {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ms_cp {
    cursor: pointer;
}

.ms_input {
    border: transparent;
    background-color: transparent;
    outline: transparent;
}

.ms_fw-b {
    font-weight: bold;
}