.ms_main-carousel-img-container {
    box-shadow: 0px 0px 10px 0px var(--black);
    height: 80vh;
    width: 100%;
}

.ms_main-carousel-img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 750px) {
    .ms_main-carousel-img-container {
        height: 60vh;
    }
}

@media only screen and (max-width: 680px) {
    .ms_main-carousel-img-container {
        height: 40vh;
    }
}

@media only screen and (max-width: 480px) {
    .ms_main-carousel-img-container {
        height: 30vh;
    }
}

@media only screen and (max-width: 375px) {
    .ms_main-carousel-img-container {
        height: 25vh;
    }
}

